
/* Your CSS Code here. */
table{
	border: 1px solid black;
	border-collapse: collapse;
}
thead{
	color: white;
	background-color: #c0504d;
	padding: none;
	text-align: left;
	border: 1px solid black;
}
tr{
	text-align: right;
}
tr,td,th{
	border: 1px solid black;
	padding: 0 10px;
}
.1{
	text-align: left;
}
.row1{
	background-color: #da9694;
	
}
.row2{
	background-color: #f2dcdb;
}
.row3{
	background-color: #d9d9d9;
}